.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form,
.inputCard{
    background-color: rgb(226, 152, 15);
    height: 220px;
    width: 300px;
    margin-top: 20px;
}
input{
    margin-top: 20px;
    background-color: rgb(226, 152, 15);

}
.rating{
    display: flex;
    justify-content: center;
}

